<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Songify</title>
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="songify logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink" id="homeButton"><a href="/home">Home</a></div>
    <div class="navlink" id="playlistButton"><a href="/playlist">Create Playlist</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="errorBox" class='hidden'>
    <p><span id="errorMessage"></span></p>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
