<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Songify</title>
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body id="wrapper"> 
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="Songify logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  
  <section id="content">

  </section>

  <div id="errorBox" class='hidden'>
    <p><span id="errorMessage"></span></p>
  </div>
  
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
